/* Universal Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

/* Header */ 

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    height: 4rem;
    background-color: rgb(44, 1, 70);
    border-bottom: silver 2px solid;
    z-index: 100;
}

nav h1 {
    font-size: 2rem;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

nav li {

}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Main & Sections */

h2 {
    font-size: 2rem;
}

/* Banner */

#banner {
    margin-top: 4rem;
    height: 50rem;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#bio_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: -27rem;
}

#banner .bio {
    color: white;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 1rem;
    border-radius: 1rem;
}

#banner .photo {
    background-color: white;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio p {
    font-size: 1rem;
    padding: 0.25rem 0;
}

.bio ul {
    padding-left: 2rem;
}


/* Projects */

.content-section {
    display: flex; 
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-section h2 {
    padding-bottom: 1rem;
}

.content {
    
}

#projects {
    position: relative;
    top: -10rem;
    display: flex;          /* read up on grid and see if want to try*/
    flex-flow: column wrap;
}

#projects-container {
    height: 10em;
    width: 80%;
    background-color: aliceblue;  /*just to see what space workng with*/
}

/* Skills */

#skills {
    margin-top: -6rem;
    display: flex;
    flex-flow: column wrap;
}

#skills-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}


/* Footer */

footer {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-top: silver solid 1px;
}

footer small {
    color: silver;
}